src/ProjectTemplate/ESRIViewer/Viewer.Layouts/SampleData/ViewerDataSource/ViewerDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.ViewerDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.ViewerDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ViewerApplication" type="tns:ViewerApplication" />
  <xs:complexType name="ViewerApplication">
    <xs:sequence>
      <xs:element name="HelpLinks" type="tns:HelpLinkCollection" />
      <xs:element name="Extensions" type="tns:Extensions" />
      <xs:element name="AboutXaml" type="tns:AboutXaml" />
    </xs:sequence>
    <xs:attribute name="LogoFilePath" type="xs:string" />
    <xs:attribute name="LayoutFilePath" type="xs:string" />
    <xs:attribute name="TitleText" type="xs:string" />
    <xs:attribute name="ShowSidePanelLayerConfiguration" type="xs:boolean" />
    <xs:attribute name="GeometryService" type="xs:string" />
    <xs:attribute name="BingMapsAppId" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="HelpLinkCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="HelpLink" type="tns:HelpLink" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HelpLink">
    <xs:attribute name="DisplayText" type="xs:string" />
    <xs:attribute name="Url" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Extensions" />
  <xs:complexType name="AboutXaml">
    <xs:sequence>
      <xs:element name="Paragraph" type="tns:Paragraph" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Paragraph">
    <xs:sequence>
      <xs:element name="Run" type="tns:Run" />
    </xs:sequence>
    <xs:attribute name="TextAlignment" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Run">
    <xs:attribute name="FontWeight" type="xs:string" />
  </xs:complexType>
</xs:schema>